nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    color:crimson;
    text-decoration: underline;
}